<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <link rel="stylesheet" href="images.css">
    <script src="https://kit.fontawesome.com/17540dc721.js" crossorigin="anonymous"></script>>
    <title>Cards||GALAXIA</title>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-side">
                <a href="/index.html">GALA<span class="span">X!A</span></a>
                </a>

            </div>
            <div class="right-side">
                <ul>
                    <li><a href="https://github.com/stutisk/GALAXIA-component_library"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://twitter.com/StutiKumari13"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container ">
                <div class="drawer  ">
                    <aside class="aside">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="/components/installation/installation.html">Installation</a>

                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a  href="../avatar/avatar.html">Avatar</a>
                            <a href="../alerts/alerts.html">Alert</a>
                            <a href="../badges/badges.html">Badge</a>
                            <a href="../buttons/button.html">Buttons</a>
                            <a href="../cards/cards.html">Card</a>
                            <a  class="active" href="../images/images.html">Image</a>
                            <a href="../input/input.html">Input</a>
                            <a href="../typography/typography.html">Text utilities</a>
                            <a href="../lists/lists.html">Lists</a>
                            <a href="../navigation/navigation.html">Navigation</a>
                            <a  href="../grids/grids.html">Grids</a>
                            <a href="../ratings/ratings.html">Ratings</a>
                            <a href="../snackbar/snackbar.html">Snackbar</a>
                            <a href="../slider/slider.html">Slider</a>
                            <a href="../Modal/modal.html">Modal</a>
                        </nav>

                    </aside>
                </div>
            </div>
            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Images
                </div>
                
                <h2> Responsive Images:</h2>
                <div class="content-subtitle">
                    Responsive  Images helps in displaying images which is responsive to screen.
                </div>
    
                <div class="code-container">
                    <img class="image-responsive" src="https://picsum.photos/id/1/300/300" alt="responsive image">
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/3c5f90c33243f2d2b3abc8da1ca3a5fe.js"></script>
                </div>
                <h2> Round Images:</h2>
                <div class="content-subtitle">
                    Round Images are the circular in shape.
                </div>
                <div class="code-container">
                    <img class="image-round" src="https://picsum.photos/id/1/250/250" alt="round image">
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/682f7f87ed3c6e40c13f900724521a1d.js"></script>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
