<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <link rel="stylesheet" href="Typography.css">
    <script src="https://kit.fontawesome.com/17540dc721.js" crossorigin="anonymous"></script>>
    <title>Typography||GALAXIA</title>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-side">
                <a href="../../index.html">GALA<span class="span">X!A</span></a>
                </a>

            </div>
            <div class="right-side">
                <ul>
                    <li><a href="https://github.com/stutisk/GALAXIA-component_library"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://twitter.com/StutiKumari13"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container ">
                <div class="drawer  ">
                    <aside class="aside scroolbar">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="/components/installation/installation.html">Installation</a>

                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a  href="avatar.html">Avatar</a>
                            <a href="../alerts/alerts.html">Alert</a>
                            <a href="../badges/badges.html">Badge</a>
                            <a href="../buttons/button.html">Buttons</a>
                            <a href="../cards/cards.html">Card</a>
                            <a href="../images/images.html">Image</a>
                            <a href="../input/input.html">Input</a>
                            <a  class="active" href="../typography/typography.html">Text utilities</a>
                            <a href="../lists/lists.html">Lists</a>
                            <a href="../navigation/navigation.html">Navigation</a>
                        </nav>

                    </aside>
                </div>
            </div>
            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Typography
                </div>
                <div class="content-subtitle">
                    Different types of text-utilities :
                </div>
                <h2>Heading:</h2>
                <div class="content-subtitle">
                    You can use semantic heading tag in your HTML and  styles will be applied.
                </div>
                <div class="code-container">
                    <div>
                        <h1> Galaxia Heading 1</h1>
                        <h2> Galaxia Heading 2</h2>
                        <h3> Galaxia Heading 3</h3>
                        <h4> Galaxia Heading 4</h4>
                        <h5> Galaxia Heading 5</h5>
                        <h6> Galaxia Heading 6</h6>
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/4f86a1f15dc9c0afa247897c11781202.js"></script>
                </div>
                
                <h2>Different Sizes Of Texts :</h2>
                <div class="content-subtitle">
                    Text can be given different sizes by applying specific class.
                </div>
                <div class="code-container">
                    <div>
                        <p class="text-lg"> Galaxia Large Text</p>
                        <p class="text-mdm"> Galaxia Medium Text</p>
                        <p class="text-rgr"> Galaxia Regular Text</p>
                        <p class="text-sml">Galaxia Small Text</p>
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/8d243c2d2dd823e8e3b2d9958b640b10.js"></script>
                </div>
            
                <h2>Different Colors Of Text:</h2>
                <div class="content-subtitle">
                    Text can be given different colors by applying specific class.
                </div>
                <div class="code-container">
                    <div>
                        <p class="grey-color">Galaxia color grey</p>
                        <p class="red-color">Galaxia color red</p>
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/2b7e0a14fc8293a892f9ae376dcb203c.js"></script>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
