<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <link rel="stylesheet" href="badges.css">
    <script src="https://kit.fontawesome.com/17540dc721.js" crossorigin="anonymous"></script>>
    <title>Badges||GALAXIA</title>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-side">
                <a href="../../index.html">GALA<span class="span">X!A</span></a>
                </a>

            </div>
            <div class="right-side">
                <ul>
                    <li><a href="https://github.com/stutisk/GALAXIA-component_library"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://twitter.com/StutiKumari13"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container ">
                <div class="drawer  ">
                    <aside class="aside scroolbar">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="/components/installation/installation.html">Installation</a>

                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a  href="../avatar/avatar.html">Avatar</a>
                            <a href="../alerts/alerts.html">Alert</a>
                            <a class="active" href="../badges/badges.html">Badge</a>
                            <a href="../buttons/button.html">Buttons</a>
                            <a href="../cards/cards.html">Card</a>
                            <a href="../images/images.html">Image</a>
                            <a href="../input/input.html">Input</a>
                            <a href="../typography/typography.html">Text utilities</a>
                            <a href="../lists/lists.html">Lists</a>
                            <a href="../navigation/navigation.html">Navigation</a>
                            <a href="../grids/grids.html">Grids</a>
                            <a href="../ratings/ratings.html">Ratings</a>
                            <a href="../snackbar/snackbar.html">Snackbar</a>
                            <a href="../slider/slider.html">Slider</a>
                            <a href="../Modal/modal.html">Modal</a>
                        </nav>

                    </aside>
                </div>
            </div>

            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Badges
                </div>
                <div class="content-subtitle">
                    Badges are small circles, positioned either at top-right or bottom-right of the parent component.
                </div>
                <h2> Badges on Icons:</h2>
                <div class="content-subtitle">
                    badges can be put on icons which tells us about the number of elements .
                </div>
                <div class="code-container">

                    <div class="badge"><i title="shopping-cart" class="fas fa-shopping-cart fa-2x"></i></div>
                    <div class="badge message"><i title="envelope" class="fas fa fa-envelope fa-2x"></i></div>

                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/7aecd036fc2b8c90672e0e7055e6979f.js"></script>
                </div>
                <h2> Badges on Avatars:</h2>
                <div class="content-subtitle">
                    badges on avatars tells us about the status of user whether he is <code> online / offline </code>.
                </div>
                <div class="code-container">
                    <div class="icon-container"><img src="https://picsum.photos/id/1/80/120" alt="Avatar"
                            class="avatar "></div>
                    <div class="icon-container offline-color"><img src="https://picsum.photos/id/1/80/120" alt="Avatar"
                            class="avatar "></div>
                    <div class="icon-container red-color"><img src="https://picsum.photos/id/1/80/120" alt="Avatar"
                            class="avatar ">
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/d3a72dd72b4377f75b2691d1d6eb2228.js"></script>
                    </div>
            </div>
        </div>
    </div>


</body>

</html>
