<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grids||GALAXIA</title>
</head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../docs/components.css">
<link rel="stylesheet" href="../../landing page/style.css">
<link rel="stylesheet" href="grids.css">
<script src="https://kit.fontawesome.com/17540dc721.js" crossorigin="anonymous"></script>>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-side">
                <a href="../../index.html">GALA<span class="span">X!A</span></a>
                </a>

            </div>
            <div class="right-side">
                <ul>
                    <li><a href="https://github.com/stutisk/GALAXIA-component_library"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://twitter.com/StutiKumari13"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container ">
                <div class="drawer  ">
                    <aside class="aside scroolbar">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="/components/installation/installation.html">Installation</a>

                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a href="../avatar/avatar.html">Avatar</a>
                            <a href="../alerts/alerts.html">Alert</a>
                            <a href="../badges/badges.html">Badge</a>
                            <a href="../buttons/button.html">Buttons</a>
                            <a href="../cards/cards.html">Card</a>
                            <a href="../images/images.html">Image</a>
                            <a href="../input/input.html">Input</a>
                            <a href="../typography/typography.html">Text utilities</a>
                            <a href="../lists/lists.html">Lists</a>
                            <a href="../navigation/navigation.html">Navigation</a>
                            <a  class="active"  href="../grids/grids.html">Grids</a>
                            <a href="../ratings/ratings.html">Ratings</a>
                            <a href="../snackbar/snackbar.html">Snackbar</a>
                            <a href="../slider/slider.html">Slider</a>
                            <a href="../Modal/modal.css">Modal</a>
                        </nav>

                    </aside>
                </div>
            </div>

            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Grids
                </div>
                <div class="content-subtitle">
                  Grids divide the page into various sections, according to the size mentioned.
                </div>
                <h2> Equal-Widths:</h2>
                <div class="content-subtitle">
                    Here it divides it into two and three Equal parts 
                </div>
                <!-- column 2of 2 -->
                <div class="code-container">
                    <div class="grid-container">
                        <div class="grid-item1">Galaxia 1 of 2</div>
                        <div class="grid-item2"> Galaxia 2 of 2</div>
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/53ee75b24813b401d2d05a3563a3cb93.js"></script>
                </div>
                <!-- column 3of 3 -->
                <div class="code-container">
                    <div class="grid-container threeof3">
                        <div class="grid-item1">Galaxia 1 of 3</div>
                        <div class="grid-item2"> Galaxia 2 of 3</div>
                        <div class="grid-item2"> Galaxia 3 of 3</div>
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/c30143de68f009777ef7c8c556f1b1d0.js"></script>
                </div>
                <!-- 80-20 -->
                <h2> Split Grids:</h2>
                <h3>Grid 80% and 20%</h3>
                <div class="content-subtitle">
                    Here it divides it into two parts in percentage , that is  80% and 20%.
                </div>
                <div class="code-container">
                    <div class="grid-container grid80 ">
                        <div class="grid-item1">Galaxia 80%</div>
                        <div class="grid-item2"> Galaxia 20%</div>
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/a61fbe4c2fc67e74379539599cea006c.js"></script>
                </div>
                <!-- 40-60 -->
                <h2> Split Grids:</h2>
                <h3>Grid 40% and 60%</h3>
                <div class="content-subtitle">
                    Here it divides it into two parts in percentage , that is  40% and 60%.
                </div>
                <div class="code-container">
                    <div class="grid-container grid60 ">
                        <div class="grid-item1">Galaxia 40%</div>
                        <div class="grid-item2"> Galaxia 60%</div>
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/fde393e43484881f353c7451fa7146f3.js"></script>
                </div>

            </div>
        </div>
    </div>


</body>

</html>

