<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <link rel="stylesheet" href="avatar.css">
    <title>Avatar||GALAXIA</title>

    <script src="https://kit.fontawesome.com/17540dc721.js" crossorigin="anonymous"></script>>

</head>

<body>
    <div class="container">
        <nav class="nav-bar ">
            <div class="left-side">
                <a href="../../index.html">GALA<span class="span">X!A</span></a>
                </a>

            </div>
            <div class="right-side">
                <ul>
                    <li><a href="https://github.com/stutisk/GALAXIA-component_library"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://twitter.com/StutiKumari13"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container">
                <div class="drawer  ">
                    <aside class="aside scroolbar">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="/components/installation/installation.html">Installation</a>
                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a class="active" href="../avatar/avatar.html">Avatar</a>
                            <a href="../alerts/alerts.html">Alert</a>
                            <a href="../badges/badges.html">Badge</a>
                            <a href="../buttons/button.html">Buttons</a>
                            <a href="../cards/cards.html">Card</a>
                            <a href="../images/images.html">Image</a>
                            <a href="../input/input.html">Input</a>
                            <a href="../typography/typography.html">Text utilities</a>
                            <a href="../lists/lists.html">Lists</a>
                            <a href="../navigation/navigation.html">Navigation</a>
                            <a href="../grids/grids.html">Grids</a>
                            <a href="../ratings/ratings.html">Ratings</a>
                            <a href="../snackbar/snackbar.html">Snackbar</a>
                            <a href="../slider/slider.html">Slider</a>
                            <a href="../Modal/modal.html">Modal</a>
                        </nav>

                    </aside>
                </div>
            </div>
            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Avatar
                </div>

                <div class="content-subtitle">
                    Avatar can be used to show user's profile picture or their status on different platforms.
                    Simple Avatars can be created using <code>avatar</code> class.Avatars are user profile pictures,
                    usually found in circular shapes.Avatars help people create their
                    own identity.
                </div>

                <!-- avatar -->
                <h2>Size Avatars:</h2>
                <div class="content-subtitle">
                    Size of the avatars can be changed by adding <code>size-larger/size-larger</code> class to the
                    existing avatar
                    class.
                </div>
                <div class="code-container">
                    <div>
                        <img src="https://picsum.photos/id/1/40/40" alt="Avatar" class="avatar">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar " class="avatar size-large">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar" class="avatar size-larger">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar" class="avatar size-largest">
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/a1be5534a48586e699eaddf0366ed13e.js"></script>
                </div>

                <h2>Square Avatars:</h2>
                <div class="content-subtitle">
                    Shape of the avatars can be changed by adding <code>square</code>class to the existing avatar
                    class.
                </div>

                <div class="code-container">
                    <div>
                        <img src="https://picsum.photos/id/1/40/40" alt="Avatar" class="avatar square">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar " class="avatar size-large square">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar" class="avatar size-larger square">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar" class="avatar size-largest square">
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/8341bdcc6e2a3fda5c7c2b3c4da624a9.js"></script>
                </div>


                <h2>border Avatars:</h2>
                <div class="content-subtitle">
                    border can be added in avatars using <code>border-green or border-red </code> class to the existing
                    avatar
                    class. you can change the color of the border
                </div>
                <div class="code-container">
                    <div>
                        <img src="https://picsum.photos/id/1/40/40" alt="Avatar"
                            class="avatar size-larger border-green">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar"
                            class="avatar size-largest border-red">
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/5cf893552cf0358c825d321b92dcc691.js"></script>
                </div>

            </div>
        </div>


    </div>
    <script src="style.js"></script>
</body>

</html>
