<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <link rel="stylesheet" href="Typography.css">
    <script src="https://kit.fontawesome.com/7f4b9645a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="ratings.css">
    <title>Rating||GALAXIA</title>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-side">
                <a href="../../index.html">GALA<span class="span">X!A</span></a>
                </a>

            </div>
            <div class="right-side">
                <ul>
                    <li><a href="https://github.com/stutisk/GALAXIA-component_library"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://twitter.com/StutiKumari13"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container ">
                <div class="drawer  ">
                    <aside class="aside scroolbar">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="/components/installation/installation.html">Installation</a>

                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a  href="../avatar/avatar.html">Avatar</a>
                            <a href="../alerts/alerts.html">Alert</a>
                            <a href="../badges/badges.html">Badge</a>
                            <a href="../buttons/button.html">Buttons</a>
                            <a href="../cards/cards.html">Card</a>
                            <a href="../images/images.html">Image</a>
                            <a href="../input/input.html">Input</a>
                            <a href="../typography/typography.html">Text utilities</a>
                            <a href="../lists/lists.html">Lists</a>
                            <a href="../navigation/navigation.html">Navigation</a>
                            <a   href="../grids/grids.html">Grids</a>
                            <a  class="active" href="../ratings/ratings.html">Ratings</a>
                            <a href="../snackbar/snackbar.html">Snackbar</a>
                           
                        </nav>

                    </aside>
                </div>
            </div>
            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Ratings
                </div>
                <div class="content-subtitle">
                    Ratings play an important role in E-commerce website.it gives us an overview on the average ratings
                    of the products or the services
                </div>
                <h2> Star Ratings:</h2>
                <div class="content-subtitle">
                    Star ratngs helps in giving live rating . It is used when we want the ratings from the user.
                </div>
                <div class="code-container">
                    <div>
                        <span class="ratings rated"><i class="fa fa-star"></i></span>
                        <span class="ratings rated"><i class="fa fa-star"></i></span>
                        <span class="ratings rated"><i class="fa fa-star"></i></span>
                        <span class="ratings"><i class="fa fa-star"></i></span>
                        <span class="ratings"><i class="fa fa-star"></i></span>
                    </div>


                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/35c9c00e270cbe403138ead2db1541f6.js"></script>
                </div>
                <h2> Badge Ratings:</h2>
                <div class="content-subtitle">
                    These are read only ratings .
                </div>
                <div class="code-container">
                    <div>
                        <span class="badge-rating padding4-8">
                            4<i class="fa fa-star"></i>
                        </span>
                        <span class="badge-rating padding4-8">
                            3<i class="fa fa-star"></i>
                        </span>
                        <span class="badge-rating padding4-8">
                            2<i class="fa fa-star"></i>
                        </span>
                    </div>

                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/a93c9e468c5c259d608e3815b12a720a.js"></script>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>

</html>
