<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <link rel="stylesheet" href="../../docs/navigation.css">
    <link rel="stylesheet" href="../../docs/sidebar.css">
    <link rel="stylesheet" href="../../docs/documentation.css">
    <link rel="stylesheet" href="avatar.css">

    <script src="https://kit.fontawesome.com/17540dc721.js" crossorigin="anonymous"></script>>

</head>

<body>
    <div class="container">
        <nav class="nav-bar ">
            <div class="left-side">
                <a href="index.html">GALA<span class="span">X!A</span></a>

                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                </a>

            </div>
            <div class="right-side">
                <ul>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a onclick="myFunction()" href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container">
                <div class="drawer  ">
                    <aside class="aside scroolbar">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="">Introduction</a>
                            <a href="">Color</a>
                            <a href="">Typoraphy</a>
                            <a href="">Conclusion</a>

                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a class="active" href="avatar.html">Avatar</a>
                            <a href="alerts.html">Alert</a>
                            <a href="badges.html">Badge</a>
                            <a href="button.html">Buttons</a>
                            <a href="cards.html">Card</a>
                            <a href="images.html">Image</a>
                            <a href="input.html">Input</a>
                            <a href="">Text utilities</a>
                            <a href="">Lists</a>
                            <a href="">Navigation</a>
                            <a href="">rating</a>
                            <a href="">Toast</a>
                            <a href="">simplified grid</a>
                        </nav>

                    </aside>
                </div>
            </div>
            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Avatar
                </div>
                <nav class="drawer-navigation1  ">
                    <a href="">Size Avatar</a>
                    <a href="">Square Avatar</a>
                    <a href="">Border Size Avatar</a>
                </nav>

                <div class="content-subtitle">
                    Avatars are user profile pictures, usually found in circular shapes. Avatars can be used for
                    'container' objects — projects, spaces, repositories, etcetera — to give them a recognisable visual
                    identity.
                </div>

                <div class="content-subtitle">
                    Size of the avatars can be changed by adding <code>sm | md | lg</code> class to the existing avatar
                    class.
                </div>
                <!-- avatar -->
                <div class="code-container">
                    <div>
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar" class="avatar">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar " class="avatar size-large">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar" class="avatar size-larger">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar" class="avatar size-largest">
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/a1be5534a48586e699eaddf0366ed13e.js"></script>
                </div>
                <div class="content-subtitle">
                    Size of the avatars can be changed by adding <code>sm | md | lg</code> class to the existing avatar
                    class.
                </div>
                <div class="code-container">
                    <div>
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar" class="avatar square">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar " class="avatar size-large square">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar" class="avatar size-larger square">
                        <img src="https://picsum.photos/id/1/80/120" alt="Avatar" class="avatar size-largest square">
                    </div>
                </div>
                <!-- <div> <h1> sqaure Size avatar</h1>
                           <img src="https://picsum.photos/id/1/80/120" alt="Avatar"  class="avatar square" >
                           <img src="https://picsum.photos/id/1/80/120" alt="Avatar "  class="avatar size-large square" >
                           <img src="https://picsum.photos/id/1/80/120" alt="Avatar"  class="avatar size-larger square" >
                           <img src="https://picsum.photos/id/1/80/120" alt="Avatar"  class="avatar size-largest square" >
                        </div>
                   
                       <div> <h1> border Size avatar</h1>
                           <img src="https://picsum.photos/id/1/80/120" alt="Avatar"  class="avatar size-larger border-green" >
                           <img src="https://picsum.photos/id/1/80/120" alt="Avatar"  class="avatar size-largest border-red" >
                       </div>
                </div>
        </div> -->


            </div>
            <script src="style.js"></script>
</body>

</html>