<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <link rel="stylesheet" href="cards.css">
    <script src="https://kit.fontawesome.com/17540dc721.js" crossorigin="anonymous"></script>>
    <title>Cards||GALAXIA</title>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-side">
                <a href="/index.html">GALA<span class="span">X!A</span></a>
                </a>
            </div>
            <div class="right-side">
                <ul>
                    <li><a href="https://github.com/stutisk/GALAXIA-component_library"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://twitter.com/StutiKumari13"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container ">
                <div class="drawer  ">
                    <aside class="aside ">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="/components/installation/installation.html">Installation</a>

                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a  href="avatar.html">Avatar</a>
                            <a href="../alerts/alerts.html">Alert</a>
                            <a href="../badges/badges.html">Badge</a>
                            <a href="../buttons/button.html">Buttons</a>
                            <a class="active" href="../cards/cards.html">Card</a>
                            <a href="../images/images.html">Image</a>
                            <a href="../input/input.html">Input</a>
                            <a href="../typography/typography.html">Text utilities</a>
                            <a href="../lists/lists.html">Lists</a>
                            <a href="../navigation/navigation.html">Navigation</a>
                        </nav>

                    </aside>
                </div>
            </div>
            <!-- content -->
            <div class="content">
                <div class="content-title">
                   Cards
                </div>
                <div class="content-subtitle">
                    Cards are normally used to display some item.They include various types of contents placed on them .
                </div>
               
                <h2>Text Only Card:</h2>
                <div class="content-subtitle">
                   These are normal cards having only text as a content
                </div>
                <div class="code-container">
                    <div class="card padding">
                        <div class="card-title m-5">
                            Infinity (JBL) Glide 510
                        </div>
                        <div class="text-primary m-5">In Stock</div>
                        <div class="text-secondary m-5"><span style="color:black">Sold by </span>Appario Retail Private
                            Ltd</div>
                        <div class="sub-title m-5">
                            72 Hrs Playtime with Quick Charge, Wireless On Ear Headphone with
                            Mic, Deep Bass, Dual Equalizer, Bluetooth 5.0 with Voice Assistant Support (Black)
                        </div>
                        <div class="price-container m-5">
                            <div class="price">₹1,699.00</div>
                        </div>
                        <div class"delivery details">
                            <div class="delivery-details m-5"><span style="color:blue">Free delivery: </span> Thursday,
                                Feb 10 </div>

                        </div>

                        <div class=" card-btn-container m-5">
                            <button class=" btn btn-primary btn-padding">
                                <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                                <a href="card.html">Add to Cart</a>
                            </button>
                            <button class="btn btn-secondary btn-padding">
                                <a href="card.html">Save for later</a>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="iframe-code scroolbar-code">
                    <script src="https://gist.github.com/stutisk/43ae0d84d4c077f1c4aaf6d5d1455a79.js"></script>
                </div>

                <h2>Card With Vertical Image</h2>
                <div class="content-subtitle">
                    These cards have an image on the vertical side 
                 </div>
                <div class="code-container">
                    <div class="card padding">
                        <div class="card-image">
                            <img class="img-product" src="https://m.media-amazon.com/images/I/716Il5U5F4L._SX425_.jpg"
                                alt="product image" />
                        </div>
                        <div class="card-title m-5">
                            Infinity (JBL) Glide 510
                        </div>
                        <div class="text-primary m-5">In Stock</div>
                        <div class="text-secondary m-5"><span style="color:black">Sold by </span>Appario Retail Private
                            Ltd</div>
                        <div class="sub-title m-5">
                            72 Hrs Playtime with Quick Charge
                        </div>
                        <div class="price-container m-5">
                            <div class="price">₹1,699.00</div>
                        </div>
                        <div class"delivery details">
                            <div class="delivery-details m-5"><span style="color:blue">Free delivery: </span> Thursday,
                                Feb 10 </div>
                        </div>
                        <div class=" card-btn-container m-5">
                            <button class=" btn btn-primary btn-padding">
                                <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                                <a href="card.html">Add to Cart</a>
                            </button>
                            <button class="btn btn-secondary btn-padding">
                                <a href="card.html">Save for later</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="iframe-code scroolbar-code">
                    <script src="https://gist.github.com/stutisk/98c710f973452f9e87d4386b8ee3f16a.js"></script>
                </div>
                <h3>Card With Text Overlay</h3>
                <div class="content-subtitle">
                    These cards have some text over them .
                 </div>
                <div class="code-container">
                    <div class="card padding card-overlay">
                        <div class="card-image">
                            <img class="img-product" src="https://m.media-amazon.com/images/I/716Il5U5F4L._SX425_.jpg"
                                alt="product image" />
                        </div>
                        <div class="card-title m-5">
                            Infinity (JBL) Glide 510
                        </div>
                        <div class="text-secondary m-5"><span style="color:black">Sold by </span>Appario Retail Private
                            Ltd</div>
                        <div class="sub-title m-5">
                            72 Hrs Playtime with Quick Charge
                        </div>
                        <div class="price-container m-5">
                            <div class="price">₹1,699.00</div>
                        </div>
                        <div class"delivery details">
                            <div class="delivery-details m-5"><span style="color:blue">Free delivery: </span> Thursday,
                                Feb 10 </div>
                        </div>
                        <div class=" card-btn-container m-5">
                            <button class=" btn btn-primary btn-padding">
                                <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                                <a href="card.html">Add to Cart</a>
                            </button>
                            <button class="btn btn-secondary btn-padding">
                                <a href="card.html">Save for later</a>
                            </button>
                        </div>
                        <div class="card-image-overlay">
                                <span class="padding">OUT OF STOCK</span>
                        </div>
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/2b14abe8945b81835ede0ed95fcef342.js"></script>
                </div>

                <h3>Cards With Dismiss</h3>
                <div class="content-subtitle">
                    These cards have an dismiss button . cards gets dismissed when clicked on the dismiss. 
                 </div>
                <div class="code-container">
                    <div class="card padding card-close">
                        <button type="button" class="btn close-btn btn "><i class="fas fa-times"></i></button>
        
                        <div class="card-image">
                            <img class="img-product " src="https://m.media-amazon.com/images/I/716Il5U5F4L._SX425_.jpg"
                                alt="product image" />
                        </div>
                        <div class="card-title m-5">
                            Infinity (JBL) Glide 510
                        </div>
                        <div class="text-primary m-5">In Stock</div>
                        <div class="text-secondary m-5"><span style="color:black">Sold by </span>Appario Retail Private
                            Ltd</div>
                        <div class="sub-title m-5">
                            72 Hrs Playtime with Quick Charge
                        </div>
                        <div class="price-container m-5">
                            <div class="price">₹1,699.00</div>
                        </div>
                        <div class"delivery details">
                            <div class="delivery-details m-5"><span style="color:blue">Free delivery: </span> Thursday,
                                Feb 10 </div>
                        </div>
                        <div class=" card-btn-container m-5">
                            <button class=" btn btn-primary btn-padding">
                                <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                                <a href="card.html">Add to Cart</a>
                            </button>
                            <button class="btn btn-secondary btn-padding">
                                <a href="card.html">Save for later</a>
                            </button>
                        </div>
                    </div>
                    <div class="btns">
                        <button type="button" class="btn refresh "><i class="fa fa-refresh ml-a "
                                aria-hidden="true"></i></button>

                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/72e59bb4eedac8c3c09729864a7bbe67.js"></script>
                </div>

                <h3>Cards With Horizontal Image</h3>
                <div class="content-subtitle">
                    These cards have an image ,horizontally placed to them
                 </div>
                <div class="code-container">
                    <div class="card padding card-Horizontal ">
                    
                        <div class="card-image horizontal-card-image">
                            <img class="img-product " src="https://m.media-amazon.com/images/I/716Il5U5F4L._SX425_.jpg"
                                alt="product image" />

                        </div>
                        <div class="content-side">
                        <div class="card-title m-5">
                            Infinity (JBL) Glide 510
                        </div>
                        <div class="text-primary m-5">In Stock</div>
                        <div class="text-secondary m-5"><span style="color:black">Sold by </span>Appario Retail Private
                            Ltd</div>
                        <div class="sub-title m-5">
                            72 Hrs Playtime with Quick Charge
                        </div>
                        <div class="price-container m-5">
                            <div class="price">₹1,699.00</div>
                        </div>
                        <div class"delivery details">
                            <div class="delivery-details m-5"><span style="color:blue">Free delivery: </span> Thursday,
                                Feb 10 </div>
                        </div>
                        <div class=" card-btn-container m-5">
                            <button class=" btn btn-primary btn-padding">
                                <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                                <a href="card.html">Add to Cart</a>
                            </button>
                            <button class="btn btn-secondary btn-padding">
                                <a href="card.html">Save for later</a>
                            </button>
                        </div>
                        </div>
                    </div>

                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/074b76f0f8160ca9e5484459e573f79a.js"></script>
                </div>
            </div>
        </div>
    </div>
    <script src=" cards.js"></script>
</body>

</html>
