<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <title>Installation||GALAXIA</title>

    <script src="https://kit.fontawesome.com/17540dc721.js" crossorigin="anonymous"></script>>

</head>

<body>
    <div class="container">
        <nav class="nav-bar ">
            <div class="left-side">
                <a href="../../index.html">GALA<span class="span">X!A</span></a>
                </a>

            </div>
            <div class="right-side">
                <ul>
                    <li><a href="https://github.com/stutisk/GALAXIA-component_library"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://twitter.com/StutiKumari13"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container">
                <div class="drawer  ">
                    <aside class="aside scroolbar">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a class="active" href="installation.html">Installation</a>
                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a href="/components/avatar/avatar.html">Avatar</a>
                            <a href="../alerts/alerts.html">Alert</a>
                            <a href="../badges/badges.html">Badge</a>
                            <a href="../buttons/button.html">Buttons</a>
                            <a href="../cards/cards.html">Card</a>
                            <a href="../images/images.html">Image</a>
                            <a href="../input/input.html">Input</a>
                            <a href="../typography/typography.html">Text utilities</a>
                            <a href="../lists/lists.html">Lists</a>
                            <a href="../navigation/navigation.html">Navigation</a>
                        </nav>

                    </aside>
                </div>
            </div>
            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Installation
                </div>
                <!-- installation -->
                <h2>Getting Started:</h2>
                <div class="content-subtitle">
                    In order to introduce Galaxia to your project, Copy the Link given below and paste it in the

                    <head> tag of your html, above all other style sheets.
                        To know about the styled components, their variations, go through all the components
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/2d5c36ba8d7c0ae3939f5e0165e500ce.js"></script>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>
