<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <link rel="stylesheet" href="navigation.css">
    <script src="https://kit.fontawesome.com/17540dc721.js" crossorigin="anonymous"></script>>
    <title>Navigation||GALAXIA</title>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-side">
                <a href="../../index.html">GALA<span class="span">X!A</span></a>
                </a>

            </div>
            <div class="right-side">
                <ul>
                    <li><a href="https://github.com/stutisk/GALAXIA-component_library"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://twitter.com/StutiKumari13"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container ">
                <div class="drawer  ">
                    <aside class="aside scroolbar">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="/components/installation/installation.html">Installation</a>

                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a  href="../avatar/avatar.html">Avatar</a>
                            <a href="../alerts/alerts.html">Alert</a>
                            <a href="../badges/badges.html">Badge</a>
                            <a href="../buttons/button.html">Buttons</a>
                            <a href="../cards/cards.html">Card</a>
                            <a href="../images/images.html">Image</a>
                            <a href="../input/input.html">Input</a>
                            <a href="../typography/typography.html">Text utilities</a>
                            <a href="../lists/lists.html">Lists</a>
                            <a class="active" href="../navigation/navigation.html">Navigation</a>
                            <a    href="../grids/grids.html">Grids</a>
                            <a href="../ratings/ratings.html">Ratings</a>
                            <a href="../snackbar/snackbar.html">Snackbar</a>
                        </nav>

                    </aside>
                </div>
            </div>
            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Navigation
                </div>
                <h2>Navigation :</h2>
                <div class="content-subtitle">
                    A Navigation bar comes under GUI that helps the visitors in accessing
                    information. It is the UI element on a webpage that includes links for the other sections of the
                    website..
                </div>
                <div class="code-container">

                    <div class="headers-container">

                        <div class="header">
                            <section>
                                <button><img src="https://img.icons8.com/windows/32/000000/grip-lines.png" /></button>
                                <span> San Francisco, CA</span>
                            </section>
                            <section>
                                <button><img
                                        src="https://img.icons8.com/material-rounded/25/ffffff/download--v1.png" /></button>
                                <button><img src="https://img.icons8.com/material-sharp/25/ffffff/print.png" /></button>
                                <button><img
                                        src="https://img.icons8.com/material-rounded/25/ffffff/bookmark-ribbon--v1.png" /></button>
                            </section>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="iframe-code">
                        <script src="https://gist.github.com/stutisk/1efb49f76d416a5971e76ccfbfc4f942.js"></script>
                    </div>
                    <!--  -->
                    <h2> Standard Navigation  :</h2>
                    <div class="code-container">

                        <div class="headers-container">
                            <div class="nav-container">
                                <div class="header-container">

                                    <div class="header header-margin ">
                                        <section>
                                            <button><img
                                                    src="https://img.icons8.com/windows/32/000000/grip-lines.png" /></button>
                                            <span> Standard</span>
                                        </section>
                                        <section>
                                            <button><img
                                                    src="https://img.icons8.com/material-rounded/25/ffffff/download--v1.png" /></button>
                                            <button><img
                                                    src="https://img.icons8.com/material-sharp/25/ffffff/print.png" /></button>
                                            <button><img
                                                    src="https://img.icons8.com/material-rounded/25/ffffff/bookmark-ribbon--v1.png" /></button>
                                        </section>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                        </div>


                    </div>
                    <div class="iframe-code">
                        <script src="https://gist.github.com/stutisk/89bdd820a0cb8d2dfea096a9a6e8ae7b.js"></script>
                    </div>

                    <h2>Fixed Header:</h2>
                    <div class="content-subtitle">
                        Header is fixed in this at the top of the screen.
                    </div>
                    <div class="code-container">

                        <div class="headers-container">
                            <div class=" nav-container">
                                <div class="header-container">

                                    <div class="header header-margin sticky-header ">
                                        <section>
                                            <button><img
                                                    src="https://img.icons8.com/windows/32/000000/grip-lines.png" /></button>
                                            <span>Fixed</span>
                                        </section>
                                        <section>
                                            <button><img
                                                    src="https://img.icons8.com/material-rounded/25/ffffff/download--v1.png" /></button>
                                            <button><img
                                                    src="https://img.icons8.com/material-sharp/25/ffffff/print.png" /></button>
                                            <button><img
                                                    src="https://img.icons8.com/material-rounded/25/ffffff/bookmark-ribbon--v1.png" /></button>
                                        </section>
                                    </div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/80ec25d10db4c705cef3f1086126a7d7.js"></script>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
