<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <link rel="stylesheet" href="../../docs/navigation.css">
    <link rel="stylesheet" href="../../docs/sidebar.css">
    <link rel="stylesheet" href="../../docs/documentation.css">
    <link rel="stylesheet" href="lists.css">
    <link rel="stylesheet" href="../avatar/avatar.css">
    <script src="https://kit.fontawesome.com/17540dc721.js" crossorigin="anonymous"></script>>
    <title>Lists</title>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-side">
                <a href="../../index.html">GALA<span class="span">X!A</span></a>
                </a>
            </div>
            <div class="right-side">
                <ul>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container ">
                <div class="drawer  ">
                    <aside class="aside scroolbar">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="">Introduction</a>
                            <a href="">Color</a>
                            <a href="">Typoraphy</a>
                            <a href="">Conclusion</a>

                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a href="avatar.html">Avatar</a>
                            <a href="alerts.html">Alert</a>
                            <a href="badges.html">Badge</a>
                            <a href="button.html">Buttons</a>
                            <a href="cards.html">Card</a>
                            <a href="images.html">Image</a>
                            <a href="input.html">Input</a>
                            <a href="">Text utilities</a>
                            <a class="active" href="lists.html">Lists</a>
                            <a href="">Navigation</a>
                            <a href="">rating</a>
                            <a href="">Toast</a>
                            <a href="">simplified grid</a>
                        </nav>

                    </aside>
                </div>
            </div>
            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Lists
                </div>


                <div class="content-subtitle">
                    lists allow web developers to group a set of related items in lists
                </div>

                <h2>Spaced(normal lists ):</h2>
                <div class="content-subtitle">
                    Normal or spaced lists can be of two types , unordered and ordered lists.
                </div>
                <div class="code-container">
                    <div class="lists-container">
                        <div class="lists">
                            <ul>
                                <li>Galixa Item 1</li>
                                <li>Galixa Item 2</li>
                                <li>Galixa Item 3</li>
                                <li>Galixa Item 4</li>
                                <li>Galixa Item 5</li>

                            </ul>
                        </div>
                        <div class="lists">
                            <ol>
                                <li>Galixa Item 1</li>
                                <li>Galixa Item 2</li>
                                <li>Galixa Item 3</li>
                                <li>Galixa Item 4</li>
                                <li>Galixa Item 5</li>

                            </ol>
                        </div>
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/3679e9e795f50541beb92e34c46cfe5b.js"></script>
                </div>
                <h2>Stacked Lists(Notification Page):</h2>
                <div class="content-subtitle">
                  stacked lists have an additional item too , it is used as notifications 
                </div>
                <div class="code-container">
                    <div>
                    <div class="stackedlists-container">
                        <div class="lists">
                            <ul>
                                <i class="fa fa-user icon " aria-hidden="true"></i>
                            </ul>
                        </div>
                        <div class="lists">
                            <ul>
                                <div>
                                    <p>you have recived a new message</p>
                                </div>
                            </ul>

                        </div>
                    </div>
                    <div class="stackedlists-container">
                        <div class="lists">
                            <ul>
                                <i class="fa fa-user icon " aria-hidden="true"></i>
                            </ul>
                        </div>
                        <div class="lists">
                            <ul>
                                <div>
                                    <p>you have recived a new message</p>
                                </div>
                            </ul>

                        </div>
                    </div>
                    <div class="stackedlists-container">
                        <div class="lists">
                            <ul>
                                <i class="fa fa-user icon " aria-hidden="true"></i>
                            </ul>
                        </div>
                        <div class="lists">
                            <ul>
                                <div>
                                    <p>you have recived a new message</p>
                                </div>
                            </ul>

                        </div>
                    </div>
                    </div>

                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/1c060d9ba8e3dfdd9ca9bb9ff237d0c0.js"></script>
                </div>

            </div>
        </div>
    </div>





   


</body>



</html>