<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <link rel="stylesheet" href="../../docs/navigation.css">
    <link rel="stylesheet" href="../../docs/sidebar.css">
    <link rel="stylesheet" href="../../docs/documentation.css">
    <link rel="stylesheet" href="alerts.css">
    <script src="https://kit.fontawesome.com/17540dc721.js" crossorigin="anonymous"></script>>
    <title>Alerts</title>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-side">
                <a href="index.html">GALA<span class="span">X!A</span></a>

                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                </a>

            </div>
            <div class="right-side">
                <ul>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a onclick="myFunction()" href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container ">
                <div class="drawer  ">
                    <aside class="aside scroolbar">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="">Introduction</a>
                            <a href="">Color</a>
                            <a href="">Typoraphy</a>
                            <a href="">Conclusion</a>

                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a  href="avatar.html">Avatar</a>
                            <a class="active" href="alerts.html">Alert</a>
                            <a href="badges.html">Badge</a>
                            <a href="button.html">Buttons</a>
                            <a href="cards.html">Card</a>
                            <a href="images.html">Image</a>
                            <a href="input.html">Input</a>
                            <a href="">Text utilities</a>
                            <a href="">Lists</a>
                            <a href="">Navigation</a>
                            <a href="">rating</a>
                            <a href="">Toast</a>
                            <a href="">simplified grid</a>
                        </nav>

                    </aside>
                </div>
            </div>
            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Alert
                </div>
                <div class="content-subtitle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi corporis deleniti qui, repellendus
                    veritatis atque sunt alias ut labore quam esse tempore, reiciendis molestiae nam voluptatibus, magni
                    assumenda eaque aut!
                </div>

                <div class="content-subtitle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi corporis deleniti qui, repellendus
                    veritatis atque sunt alias ut labore quam esse tempore, reiciendis molestiae nam voluptatibus, magni
                    assumenda eaque aut!
                </div>
                <!-- avatar -->
                <div class="code-container">

                    <div class="alert m-1">
                        primary alert
                    </div>
                    <div class="alert m-1 secondary">
                        secondry alert
                    </div>

                </div>

                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/52c1d7730eb6c9a37844de581a10b2b5.js"></script>
                </div>

                <div class="code-container">
                    <div class="alert m-1 ">
                        alert with a <a href="#" class="alert-link"> link</a>.
                    </div>
                    <div class="alert m-1 secondary">
                        alert with a <a href="#" class="alert-link"> link</a>.
                    </div>

                </div>

                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/c1721d2e68f4caf4be304598d42bdc4a.js"></script>
                </div>

                <div class="code-container">
                    <div class="alert m-1 alert-success">
                        <span>
                            <i class="fas fa-check-circle"></i> This is success alert!
                        </span>

                    </div>
                    <div class="alert m-1 danger">
                        <span>
                            <i class="fas fa-exclamation-triangle"></i> This is warning alert!
                        </span>
                    </div>
                </div>

                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/a00278f3d3c083639b6481c969238b19.js"></script>
                </div>

                <div class="code-container">


                    <div class="alert m-1 danger alert-close">
                        <span>
                            <i class="fas fa-exclamation-triangle"></i> This is warning alert with dismiss
                        </span>
                        <button type="button" class="btn alert-close-btn ml-a"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="btns">
                        <button type="button" class="btn refresh "><i class="fa fa-refresh ml-a "
                                aria-hidden="true"></i></button>

                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/8b8cc57b89caee30e389806df1099377.js"></script>
                </div>
                <div class="iframe-code">
                <script src="https://gist.github.com/stutisk/5c9899183a8dcb5b6b544ee56bbdf512.js"></script>
            </div>
            </div>
            <script src="alerts.js"></script>
</body>

</html>