<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <link rel="stylesheet" href="alerts.css">
    <script src="https://kit.fontawesome.com/17540dc721.js" crossorigin="anonymous"></script>>
    <title>Alerts||GALAXIA</title>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-side">
                <a href="../../index.html">GALA<span class="span">X!A</span></a>
            </div>
            <div class="right-side">
                <ul>
                    <li><a href="https://github.com/stutisk/GALAXIA-component_library"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://twitter.com/StutiKumari13"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container ">
                <div class="drawer  ">
                    <aside class="aside scroolbar">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="/components/installation/installation.html">Installation</a>
                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a href="avatar.html">Avatar</a>
                            <a class="active" href="../alerts/alerts.html">Alert</a>
                            <a href="../badges/badges.html">Badge</a>
                            <a href="../buttons/button.html">Buttons</a>
                            <a href="../cards/cards.html">Card</a>
                            <a href="../images/images.html">Image</a>
                            <a href="../input/input.html">Input</a>
                            <a href="../typography/typography.html">Text utilities</a>
                            <a href="../lists/lists.html">Lists</a>
                            <a href="../navigation/navigation.html">Navigation</a>
                        </nav>
                    </aside>
                </div>
            </div>
            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Alert
                </div>
                <div class="content-subtitle">
                    The alert takes the focus away from the current window, and forces the user to read the important
                    message.
                </div>

                <div class="content-subtitle">
                    It prevents the user from accessing other parts of the page until the alert box is closed.
                    To use this alert just use class name alert and also add class according to alert type.
                </div>
                <!-- alerts-->
                <h2>Simple Alerts:</h2>
                <div class="content-subtitle">
                    These are the static examples shown below. It can be categorised into two parts , primary and
                    secondary alerts.Simple Alerts can be created using alert class.
                </div>
                <div class="code-container">

                    <div class="alert m-1">
                        primary alert
                    </div>
                    <div class="alert m-1 secondary">
                        secondry alert
                    </div>

                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/52c1d7730eb6c9a37844de581a10b2b5.js"></script>
                </div>

                <h2>Alerts With Links:</h2>
                <div class="content-subtitle">
                    Alerts With Links can be created using alert-link class.
                </div>
                <div class="code-container">
                    <div class="alert m-1 ">
                        alert with a <a href="#" class="alert-link"> link</a>.
                    </div>
                    <div class="alert m-1 secondary">
                        alert with a <a href="#" class="alert-link"> link</a>.
                    </div>

                </div>

                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/c1721d2e68f4caf4be304598d42bdc4a.js"></script>
                </div>
                <h2> Alerts With Icons:</h2>
                <div class="content-subtitle">
                    These alerts have an icon before the message and this can be any error from sucess to error . Alerts
                    With Icons can be created using alert-success or danger class.
                </div>
                <div class="code-container">
                    <div class="alert m-1 alert-success">
                        <span>
                            <i class="fas fa-check-circle"></i> This is success alert!
                        </span>

                    </div>
                    <div class="alert m-1 danger">
                        <span>
                            <i class="fas fa-exclamation-triangle"></i> This is warning alert!
                        </span>
                    </div>
                </div>

                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/a00278f3d3c083639b6481c969238b19.js"></script>
                </div>

                <h2> Alerts With Dismiss:</h2>
                <div class="content-subtitle">
                    Alert can have cross icon to close the alert.Alerts With Dismiss can be created using alert-close
                    class.

                </div>
                <div class="code-container">
                    <div class="alert m-1 danger alert-close">
                        <span>
                            <i class="fas fa-exclamation-triangle"></i> This is warning alert with dismiss
                        </span>
                        <button type="button" class="btn alert-close-btn ml-a"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="btns">
                        <button type="button" class="btn refresh "><i class="fa fa-refresh ml-a "
                                aria-hidden="true"></i></button>

                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/8b8cc57b89caee30e389806df1099377.js"></script>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/5c9899183a8dcb5b6b544ee56bbdf512.js"></script>
                </div>
            </div>
            <script src="alerts.js"></script>
</body>

</html>
