<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../docs/components.css">
    <link rel="stylesheet" href="../../landing page/style.css">
    <link rel="stylesheet" href="../snackbar/snackbar.css">
    <script src="https://kit.fontawesome.com/7f4b9645a7.js" crossorigin="anonymous"></script>>
    <title>Snackbar||GALAXIA</title>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-side">
                <a href="../../index.html">GALA<span class="span">X!A</span></a>
                </a>

            </div>
            <div class="right-side">
                <ul>
                    <li><a href="https://github.com/stutisk/GALAXIA-component_library"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://twitter.com/StutiKumari13"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- sidebar -->
        <div class="doc-container">
            <div class="drawer-container ">
                <div class="drawer  ">
                    <aside class="aside scroolbar">
                        <div class="drawer-header">
                            <div class="drawer-topic">Get Started</div>
                            <hr />
                        </div>
                        <nav class="drawer-navigation ">
                            <a href="/components/installation/installation.html">Installation</a>

                            <div class="drawer-topic">Components</div>
                            <hr />
                        </nav>
                        <nav class="drawer-navigation">
                            <a href="../avatar/avatar.html">Avatar</a>
                            <a href="../alerts/alerts.html">Alert</a>
                            <a href="../badges/badges.html">Badge</a>
                            <a href="../buttons/button.html">Buttons</a>
                            <a href="../cards/cards.html">Card</a>
                            <a href="../images/images.html">Image</a>
                            <a href="../input/input.html">Input</a>
                            <a  href="../typography/typography.html">Text utilities</a>
                            <a href="../lists/lists.html">Lists</a>
                            <a href="../navigation/navigation.html">Navigation</a>
                            <a   href="../grids/grids.html">Grids</a>
                            <a   href="../ratings/ratings.html">Ratings</a>
                            <a class="active"  href="../snackbar/snackbar.html">Snackbar</a>
                            <a href="../slider/slider.html">Slider</a>
                            <a href="../Modal/modal.html">Modal</a>
                        </nav>

                    </aside>
                </div>
            </div>
            <!-- content -->
            <div class="content">
                <div class="content-title">
                    Snackbar
                </div>
                <div class="content-subtitle">
                    Snackbars are often used as popups to show a message at the bottom of the screen.This is also known
                    as Toast or Notify.
                </div>
                <div class="code-container">
                    <div class="snackbar-container">
                        <div class="snackbar m-5">
                            Can't send photo. Retry in 5 seconds.
                        </div>
                        <div class="control-btns">
                            <div> <button class="btn-retry m-5">RETRY</button><span><i
                                        class="fa-solid fa-xmark cancel-snackbar"></i></span></div>
                        </div>
                    </div>
                </div>
               
                <div class="content-subtitle">
                    click on the button below to see how snackbar actually behaves.
                </div>
                <div class="code-container">
                    <button class="snacbar-btn btn-padding" >Show Snackbar</button>
                    <div class="snackbar-containerlive snackbar-container">
                        <div class="snackbar m-5">
                            Can't send photo. Retry in 5 seconds.
                        </div>
                        <div class="control-btns">
                            <div> <button class="btn-retry m-5">RETRY</button><span><i
                                        class="fa-solid fa-xmark cancel-snackbar"></i>
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="iframe-code">
                    <script src="https://gist.github.com/stutisk/d3861f4827983ba1052d7909ff41ffc4.js"></script>
                </div>

            </div>
        </div>
        <script src="../snackbar/snackbar.js"></script>
</body>

</html>
