@import "./spacing.css";
@import "./base.css";
@import "./container.css";
@import "./navigation.css";
@import "./sidebar.css";
@import "./documentation.css";

::-webkit-scrollbar{
    width:6px;

}
::-webkit-scrollbar-track{
background:  #e5e5e5;;

}
::-webkit-scrollbar-thumb{
    background-color:var(--main-Cta-color);
    border-radius: 30px;

}


/* @import "/components/buttons/button.css" */